*{
  padding: 0;
  margin: 0;
}

.block{
  width: 100px;
  height: 100px;
  background: lightblue;
  margin: 5px;
}
/* 1th = 1% от высоты вашего экрана */
/* justify-content отвечает за ось X */
/*align-items отвечает за ось Y */
.parent{
  display: flex;
  height: 100vh;

/* Двигать элементы по оси X */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly;
  /* justify-content: flex-start;
  /* justify-content: flex-end;
*/

/* Двигать элементы по оси Y */
  /* flex-direction: column;
  align-items: flex-end;
  justify-content: center;
 */
 /* flex-wrap: wrap-reverse; */
 /* flex-direction: row-reverse;
 justify-content: flex-end;
 flex-direction: column-reverse; */

}
#block-3{
  order: -1;
}
#block-1{
  order: 1;
}